In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

pd.read_excel("DataHertz.xlsx", sheet_name="Sheet2")

    VG2A [V]  VG2K [V]  IA [E-10 A]
0          5       6.4            0
1          5       7.0           13
2          5       8.0           63
3          5       9.0          100
4          5      10.0          118
..       ...       ...          ...
57         5      75.0          389
58         5      76.0          391
59         5      78.0          359
60         5      79.0          326
61         5      80.0          287

[62 rows x 3 columns]

In [2]:
pd.read_excel("DataHertz.xlsx", sheet_name=0)

   Filamento  VG1K      VG2K
0        1.9   1.5  variable

Cuanizacion de planck
$$
E = h\frac{c}{\lambda}
$$

In [4]:
# para el argon
lambdaAr = 108.1e-09 #m
c = 3e8 #m/s
h = 6.626e-34 

E = h*c/lambdaAr
E #J

1.8388529139685477e-18

In [15]:
# calculo con eV
heV = 4.135667696e-15
eev = heV *c/lambdaAr

In [16]:
eev

11.477338656799262

Pero de acuerdo a datos, la ionizacion del argon es de $E=15.7596 eV$

In [24]:
eArgon = 15.7596

lambdaArgon = heV * c / eArgon
lambdaArgon*1e9

78.72663702124419

In [25]:
1e3

1000.0

In [27]:
(10812.896e-10)*1e9

1081.2896