# Determinacion Constnte de Rydberg

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('hidrogeno.csv')

# Calculo de $\lambda$

In [5]:
grad =  np.pi/180
np.sin(90 * grad)

lpm = 600000 # 6000 lin / cm = 600000 lin /

In [7]:
def lambdda(m, ang, bias = 0):
    """
    ang: angulo en grados
    m: orden
    asume bias hacia la izquierda, osea que si tengo 2 grados de bias, al medir 
    2 grados hacia la derecha, estoy midiendo 0
    """

    d = 1/lpm
    lam= d*np.sin(np.abs(ang - bias)* np.pi/180)/m
    print(str(lam * 10**9) + " [nm]")
    return lam * 10**9

In [9]:
df['promedio'] = (df['theta_der'] + df['theta_izq'])/2

In [24]:
for orden in [1,2]:
    df['lambda'] = lambdda(orden,df[df['orden']==orden]['promedio'])

0    421.522913
1    443.995580
2    499.789017
3    669.912961
Name: promedio, dtype: float64 [nm]
4    439.129830
5    493.930215
6    669.880717
Name: promedio, dtype: float64 [nm]

In [21]:
df['color'] = ['violeta','violeta', 'celeste', 'rojo','violeta','celeste','rojo']

In [22]:
df

   theta_der  theta_izq  orden  promedio      lambda    color
0       14.4       14.9      1     14.65  421.522913  violeta
1       15.4       15.5      1     15.45  443.995580  violeta
2       17.4       17.5      1     17.45  499.789017  celeste
3       23.4       24.0      1     23.70  669.912961     rojo
4       31.9       31.7      2     31.80         NaN  violeta
5       36.2       36.5      2     36.35         NaN  celeste
6       53.4       53.6      2     53.50         NaN     rojo

In [23]:
df.to_csv('hidrogeno_lambdas.csv')

# Calcula $R_H$
Serie de Balmer inversa

$$
\frac{1}{\lambda} = R_H  (\frac{1}{2^2} - \frac{1}{n^2})
$$

$$
R_H = \frac{1}{\lambda} (\frac{4 n ^2}{n^2 - 4})
$$

In [2]:
# serie de balmer
def Rh(lambdad, n):
    return (4*n*n)/(lambdad * (n*n - 4))

In [ ]:
Rh()